.container--about {
  background-color: #f9f8f8;
}
.about {
  max-width: 128rem;
  height: 67.2rem;
  padding: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  //
  &_img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      display: block;
      height: 92%;
    }
  }
  //
  &_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;

    .about-explain {
      font-family: $secondary-font;
      font-size: 1.6rem;
      width: 90%;
      color: $dark-gray;
      line-height: 1.5;
    }

    .about-points {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .about-point_item {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      gap: 2rem;
      width: 70%;
      img {
        display: block;
        width: 7.5rem;
        height: 7.5rem;
      }

      &-desc h4 {
        font-size: 3rem;
        font-family: $primary-font;
        color: $deep-blue;
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
      &-desc p {
        font-size: 1.6rem;
        font-family: $secondary-font;
        color: $dark-gray;
      }
    }
    .btn {
      margin-top: 4.2rem;
    }
  }
}
@media (max-width: 75em) {
  .about {
    padding: 2rem;
  }
}
@media (max-width: 68.75em) {
  .about {
    padding: 1rem;
  }
}
@media (max-width: 68.75em) {
  .about {
    gap: 2rem;
  }
  .about_img {
    img {
      height: 80%;
    }
  }
}
@media (max-width: 56.25em) {
  .about_img {
    img {
      height: 70%;
    }
  }
  .about-explain {
    width: 100%;
  }
  .about .about-point_item {
    width: 90%;
  }
}
@media (max-width: 43.75em) {
  .about_img {
    img {
      height: 65%;
    }
  }
  .about .about-point_item {
    width: 100%;
  }
  .about .btn {
    margin-top: 3rem;
  }
}
@media (max-width: 46.875em) {
  .about {
    &_img {
      width: 47% !important;
      img {
        height: 55%;
      }
    }

    &_text {
      width: 53%;
    }
    .about-explain {
      width: 100%;
    }
  }
}

@media (max-width: 40.625em) {
  .about {
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: 6rem;
    &_img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    //
    &_text {
      & > p {
        margin-bottom: 2rem;
      }
      width: 80%;
      align-items: center;
      text-align: center;
      .secondary-heading {
        width: 100%;
      }
    }
  }
}
@media (max-width: 21.875em) {
  .about {
    &_text {
      h2 {
        width: 100%;
      }
      & > p {
        margin-bottom: 2rem;
        width: 100%;
      }
      width: 80%;
      align-items: center;
      text-align: center;
      .secondary-heading {
        width: 100%;
      }
    }
  }
}
