//- - - - Container - - - -//
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 81.25em) {
  .container {
    padding: 0 4rem;
  }
}

//- - - - Buttons - - - -//
.btn:link,
.btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 18rem;
  height: 5.2rem;
  border-radius: 9px;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  font-family: $primary-font;
  color: $deep-blue;
  transition: all 0.2s linear;
  user-select: none;
  z-index: 5;
  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.4rem;

    img {
      display: block;
      width: 100%;
    }
  }
}
.btn--primary {
  .circle {
    background-color: $deep-blue;
  }
  background-color: $light-orange;
}

.btn--primary:hover {
  background-color: lighten($light-orange, 6%);
}

.btn.btn--secondary {
  .circle {
    background-color: #335b6b;
  }
  background-color: $deep-blue;
  color: #fff;
}
.btn--secondary:hover {
  background-color: lighten($deep-blue, 6%);
}
//
.btn.btn--tertiary {
  .circle {
    background-color: #335b6b;
  }
  color: $deep-blue;
  background-color: #fff;
}
.btn--tertiary:hover {
  background-color: darken(#fff, 6%);
}
//
.btn--tertiary-border {
  .circle {
    background-color: #335b6b;
  }
  color: $deep-blue;
  background-color: #fff;
  border: 3px solid $deep-blue;
}
.btn--tertiary-border:hover {
  color: #fff;
  background-color: $deep-blue;
}

.btn.btn--large {
  width: 20rem;
}
