.footer {
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4.5rem;
  flex-wrap: wrap;
  padding: 0 5rem;
  margin-top: 12rem;
  h2 {
    font-size: 3rem;
  }
}
.contact-us,
.contact-us > div,
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
}
.contact-us {
  width: 20.7%;
  gap: 2rem;
  h2 {
    margin-bottom: 2.2rem;
  }
  &_title,
  &_text {
    color: $dark-gray;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: $secondary-font;
  }
  &_text {
    font-weight: 400;
  }
}
.social-media {
  width: 43.75%;
  padding: 0 4.5rem;
  border: 1px solid #d4d4d4;
  border-top: none;
  border-bottom: none;
  align-items: center;
  img {
    display: block;
    width: 20rem;
  }
  p {
    text-align: center;
    color: $dark-gray;
    font-size: 1.7rem;
    font-family: $secondary-font;
    font-weight: 400;
    margin-top: 2.3rem;
  }
}
.social-media_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  gap: 1.5rem;
}
.social-media_link:link,
.social-media_link:active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: #eff6f1;
  border-radius: 50%;
  padding: 1.8rem;
  transition: all 0.2s linear;
  img {
    display: block;
    width: 100%;
  }
}
.social-media_link:hover {
  transform: translateY(-3px);
}
.utility-pages {
  width: 20.7%;
  &_nav {
    margin-top: 3.2rem;
  }
  //
  .utility-items {
    list-style: none;
    width: 20rem;

    li {
      cursor: pointer;
      color: $dark-gray;
      font-size: 1.7rem;
      font-family: $secondary-font;
      font-weight: 400;
      margin-top: 1.5rem;
      padding: 0.5rem 0;
      transition: all 0.2s;
    }
    li:hover {
      color: darken(#525c60, 30%);
    }
  }
}
.container--copy-right {
  width: 100%;
  border-top: 1px solid #d4d4d4;
  margin-top: 10rem;
}
.copy-right {
  text-align: center;
  max-width: 128rem;
  padding: 1.7rem 0;
  margin: 0 auto;
  font-family: $secondary-font;
  font-size: 1.7rem;
  color: $dark-gray;

  a:link,
  a:visited {
    color: $deep-blue;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s;
  }
  a:hover {
    color: lighten($color: $deep-blue, $amount: 14%);
  }
}
@media (max-width: 75em) {
  .footer {
    padding: 0;
  }
}
@media (max-width: 64em) {
  .footer {
    gap: 1.5rem;
  }
  .contact-us {
    width: 23%;
  }
  .utility-pages {
    width: 23%;
  }
  .social-media {
    padding: 0 1.5rem;
    width: 44%;
  }
}
@media (max-width: 50em) {
  .footer {
    gap: 1rem;
  }
  .contact-us {
    width: 25%;
  }
  .utility-pages {
    width: 25%;
  }
  .social-media {
    padding: 0 1rem;
    width: 46%;
  }
}
@media (max-width: 34.375em) {
  .footer {
    flex-wrap: wrap;
  }
  .contact-us {
    width: 45%;
  }
  .utility-pages {
    width: 45%;
    align-items: center;
  }
  .social-media {
    padding: 0 1rem;
    width: 100%;
    order: 1;
    border: none;
    margin-top: 2rem;
  }
}
