.container--gallery {
  background-color: #f1f8f4;
}
.gallery {
  max-width: 128rem;
  margin: 0 auto;
  padding: 16rem 0;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-item {
  width: 32rem;
  height: 32rem;
  display: grid;
  place-items: center;
  background-size: cover;
  background-size: cover;
}
@media (max-width: 59.37em) {
  .gallery-item {
    width: 28rem;
    height: 28rem;
  }
}
@media (max-width: 46.875em) {
  .gallery-item {
    width: 26rem;
    height: 26rem;
  }
}
@media (max-width: 43.75em) {
  .gallery-item {
    width: 24rem;
    height: 24rem;
  }
}
@media (max-width: 40.625em) {
  .gallery-item {
    width: 22rem;
    height: 22rem;
  }
}
@media (max-width: 37.5em) {
  .gallery {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .gallery-item {
    margin-bottom: 3rem;
  }
}
