.container--gallery {
  background-color: #f1f8f4;
}
.gallery {
  max-width: 128rem;
  margin: 0 auto;
  padding: 16rem 0;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-item {
  width: 32rem;
  height: 32rem;
  display: grid;
  place-items: center;
  background-size: cover;
  background-size: cover;
}
@media (max-width: 59.37em) {
  .gallery-item {
    width: 28rem;
    height: 28rem;
  }
}
