.container--hero-banner {
  background-color: $milky-white;
}
.hero-banner {
  height: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: $milky-white;
  z-index: 6;
  &_text {
    width: 37.5%;
    height: 60%;
    align-self: center;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;

    h3 {
      font-family: $tertiary-font;
      font-size: 3.2rem;
      color: $light-green;
      font-weight: 500;
    }
    p {
      font-family: $primary-font;
      font-size: 5.2rem;
      font-weight: 700;
      color: $deep-blue;
    }
    .btn {
      margin-top: 2rem;
    }
  }
  &_img {
    width: 50%;
    height: 110%;
    background-image: url("../img/breakfast.png");
    background-color: $milky-white;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
}

.hero-banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/background-patterns.svg");
  background-size: cover;
}
@media (max-width: 56.25em) {
  .hero-banner {
    height: 47rem;
    &_text {
      width: 70%;
      height: 80%;
      padding-left: 6rem;
    }
  }
}
@media (max-width: 43.75em) {
  .hero-banner_text {
    p {
      font-size: 4.4rem;
    }
  }
}
@media (max-width: 40.625em) {
  .hero-banner {
    height: 40rem;
    &_text {
      width: 65%;
      height: 80%;
      padding-left: 6rem;
    }
  }
}
@media (max-width: 37.5em) {
  .hero-banner {
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding-top: 4rem;
    &_text {
      width: 100%;
      margin-bottom: 4rem;
      padding: 0;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      z-index: 7;
      & > p {
        width: 70%;
        display: block;
        text-align: center;
      }
      & > p > br {
        display: none;
      }
      .btn {
        margin-top: 3rem;
      }
    }
    &_img {
      width: 50%;
      height: 30rem;
    }
  }
}
@media (max-width: 31.25em) {
  .hero-banner_text > p {
    width: 85%;
  }
}
@media (max-width: 25em) {
  .container--hero-banner {
    padding: 0;
  }
  .hero-banner {
    &_text > p {
      width: 90%;
    }
    &_img {
      width: 70%;
    }
  }
  .hero-banner::after {
    background-image: linear-gradient(
      to right,
      rgba(249, 248, 248, 0.2),
      rgba(249, 248, 248, 0.2)
    );
    background-size: cover;
  }
}
