.newsletter {
  max-width: 128rem;
  margin: 18.5rem auto;
  margin-bottom: 0;
  height: 26rem;
  background-image: linear-gradient(
      to right,
      rgba(#fff, 0.15),
      rgba(#fff, 0.15)
    ),
    url("../img/newsletterbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3rem;
  padding: 7.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .secondary-heading {
    color: #fff;
    width: 30rem;
  }

  &_form {
    height: 6.5rem;
    width: 52rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    input {
      height: 100%;
      flex-grow: 1;
      border: none;
      border-radius: 9px;
      padding: 2.3rem;
      font-family: $primary-font;
      font-size: 1.8rem;
      font-style: italic;
      color: #ababab;
    }
    input:focus {
      box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.5);
    }

    a.btn {
      height: 100%;
    }
  }
}
@media (max-width: 64em) {
  .newsletter_form {
    width: 42rem;
    height: 5.5rem;
  }
}
@media (max-width: 59.37em) {
  .newsletter {
    height: 24rem;
    padding: 4rem;
    &_form {
      width: 42rem;
      height: 5rem;
    }
    .secondary-heading {
      font-size: 3.6rem;
    }
  }
}
@media (max-width: 53.125em) {
  .newsletter {
    &_form {
      width: 38rem;
      gap: 1rem;

      input {
        padding: 1.5rem;
        font-size: 1.6rem;
      }

      a.btn {
        height: 100%;
        width: 10rem;
        font-size: 1.6rem;
      }
    }
  }
}
@media (max-width: 43.75em) {
  .newsletter {
    padding: 2rem;
  }
}
@media (max-width: 40.625em) {
  .newsletter {
    &_form {
      width: 34rem;
      gap: 1rem;
    }
    .secondary-heading {
      font-size: 3rem;
    }
  }
}
@media (max-width: 37.5em) {
  .newsletter {
    height: 22rem;
  }
}
@media (max-width: 31.25em) {
  .newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    .secondary-heading {
      width: 100%;
      text-align: center;
    }

    &_form {
      width: 80%;
    }
  }
}
@media (max-width: 20em) {
  .newsletter {
    gap: 2rem;
    .secondary-heading {
      width: 100%;
      text-align: center;
    }
    &_form {
      width: 100%;
    }
  }
}
