.offers {
  max-width: 100rem;
  margin: 9rem auto;
  display: flex;
  justify-content: space-evenly;
  .offer-item {
    max-width: 42rem;
    img {
      display: block;
      width: 100%;
    }
  }
}
@media (max-width: 40.625em) {
  .offers .offer-item {
    max-width: 38rem;
  }
}
@media (max-width: 46.875em) {
  .offers .offer-item {
    max-width: 34rem;
  }
}
@media (max-width: 37.5em) {
  .offers {
    justify-content: center;
    flex-wrap: wrap;
    margin: 8rem auto;
    gap: 4rem;
    .offer-item {
      max-width: 42rem;
    }
  }
}
