.container--offer {
  background-color: $deep-blue;
}
.offer {
  max-width: 128rem;
  margin: 0 auto;
  min-height: 50rem;
  padding: 15rem 0;

  &_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div {
      width: 100%;
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_products {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .product:hover {
      transform: translateY(-3px);
    }
  }
  .product {
    margin-bottom: 0;
  }
  //---

  @media (max-width: 64em) {
    &_products {
      flex-wrap: wrap;
    }
    .product {
      margin-bottom: 1rem;
    }
  }
  //---
}
