.tertiary-heading {
  font-family: $tertiary-font;
  font-size: 3rem;
  color: $light-green;
  font-weight: 500;
}
.secondary-heading {
  font-family: $primary-font;
  font-size: 4.4rem;
  font-weight: 700;
  color: $deep-blue;
}
.secondary-heading--light {
  color: #fff;
}
