.tertiary-heading {
  font-family: $tertiary-font;
  font-size: 3.4rem;
  color: $light-green;
  font-weight: 500;
}
.secondary-heading {
  font-family: $primary-font;
  font-size: 4.4rem;
  font-weight: 700;
  color: $deep-blue;
}
.secondary-heading--light {
  color: #fff;
}
//
@media (max-width: 56.25em) {
  .tertiary-heading {
    font-size: 3rem;
  }
  .secondary-heading {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .tertiary-heading {
    font-size: 2.6rem;
  }
  .secondary-heading {
    font-size: 3.2rem;
  }
}
@media (max-width: 21.875em) {
  .tertiary-heading {
    font-size: 2.4rem;
  }
  .secondary-heading {
    font-size: 3rem;
  }
}
